<h1> Food Review! </h1>

<form action="sessions" method="post">
  <p>
    <label name="user[username]">Username:</label>
    <input name="user[username]" type="text"/>
  </p>

  <p>
    <label name="user[password]">Password:</label>
    <input name="user[password]" type="password"/>
  </p>

  <p>
    <input type="submit" value="Sign In"/>
  </p>

</form>


<p> Not a member? Create a new account below:</p>
<a href="/users/new">Sign up!</a>
